<ion-header>
  <button (click)="voltar()" expand="block" fill="clear" shape="round" class="arrow">
    <img src="../../../../assets/icon/Seta.png" alt="seta" />
  </button>
</ion-header>

<ion-content *ngIf="drink" class="detalhes-content">
  <ion-card class="bebida-card">
    <img [src]="drink.strDrinkThumb" [alt]="drink.strDrink" class="imagem-bebida" />

    <!-- Avaliação -->
    <div class="avaliacao">
      <ion-icon name="star-outline"></ion-icon>
      <span>{{ avaliacao.toFixed(1) }}</span>
    </div>

    <h1 class="titulo">{{ drink.strDrink }}</h1>

    <!-- Seção Tamanho -->
    <div class="secao">
      <h2>Tamanho</h2>
      <div class="opcoes">
        <ion-chip
          class="yc-chip"
          [ngClass]="{ ativo: tamanhoSelecionado === 'Pequeno' }">
          <ion-label>Pequeno</ion-label>
        </ion-chip>

        <ion-chip
          class="yc-chip"
          [ngClass]="{ ativo: tamanhoSelecionado === 'Médio' }">
          <ion-label>Médio</ion-label>
        </ion-chip>

        <ion-chip
          class="yc-chip"
          [ngClass]="{ ativo: tamanhoSelecionado === 'Grande' }">
          <ion-label>Grande</ion-label>
        </ion-chip>
      </div>
    </div>

    <!-- Descrição -->
    <div class="secao">
      <h2>Sobre</h2>
      <p>{{ descricao }}</p>
      <div class="preco">
        <button  class="botao-preco">
          Preço: R$ {{ drink.preco }}
        </button>
      </div>


    </div>
  </ion-card>
</ion-content>
