<!-- <ion-header>
  <ion-toolbar>
    <ion-title>{{ drink?.strDrink }}</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-header>
  <button (click)="voltar()" expand="block" fill="clear" shape="round" class="arrow">
    <span class="material-symbols-outlined">arrow_back</span>
  </button>
</ion-header>



<ion-content *ngIf="drink">
  <ion-card class="container_imagem">
    <img [src]="drink.strDrinkThumb" [alt]="drink.strDrink" />
    <ion-card-header>
      <ion-card-title>{{ drink.strDrink }}</ion-card-title>
      <p>Preço: R$ {{ drink.preco }}</p>
    </ion-card-header>
  </ion-card>

  <ion-button expand="block" color="primary" (click)="voltar()">
    Voltar
  </ion-button>
</ion-content>
