@import url('https://fonts.googleapis.com/css2?family=Sansation:wght@400;700&display=swap');

:host {
  --cor-detalhes: #9E887C;
  --cor-fundo: #FFF4EF;
}

.detalhes-content {
  --background: var(--cor-fundo);
  display: flex;
  justify-content: center;
  padding: 16px;
}

ion-header {
  background-color: var(--cor-fundo);
  box-shadow: none;
}

.arrow {
  border: 2px solid var(--cor-detalhes);
  background-color: transparent;
  border-radius: 50%;
  margin: 20px 10px 5px 40px;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow img {
  width: 30px;
}

.bebida-card {
  background: #fff;
  border-radius: 24px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  padding-bottom: 24px;
}

.imagem-bebida {
  width: 100%;
  height: auto; /* deixa a altura proporcional */
  max-height: 360px; /* aumenta o limite visível */
  object-fit: contain; /* mostra o drink completo sem cortar */
  border-bottom: 3px solid #e0c7b7;
  border-radius: 16px;
  margin-top: 8px;
  background-color: #fff;
}


.avaliacao {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 8px 16px;
  color: #c7a17a;
  font-size: 16px;

  ion-icon {
    margin-right: 4px;
  }
}

.titulo {
  text-align: left;
  font-size: 24px;
  font-weight: 700;
  margin: 8px 16px;
  color: #4b2e2b;
}

.secao {
  margin: 12px 16px;

  h2 {
    font-size: 18px;
    color: #7a5c50;
    margin-bottom: 6px;
  }

  p {
    font-size: 15px;
    color: #5c4a43;
    line-height: 1.4;
  }
}

.opcoes {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

/* .yc-chip {
  background-color: #f1e4d8;
  border-radius: 20px;
  color: #4b2e2b;
  transition: 0.2s;

  &.ativo {
    background-color: #c7a17a;
    color: #fff;
  }
}
 */
 .yc-chip {
  background: #f2f2f2;
  color: #333;
  transition: all 0.2s ease-in-out;
  cursor: pointer;

  &:hover {
    transform: translateY(-2px);
  }

  &.ativo {
    background: #6f4e37; /* cor de café */
    color: #fff;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
    transform: translateY(-3px);
  }
}

.botao-preco{
  padding: 20px;
  border-radius: 50px;
  background:#4b2e2b;
  color: #fff;
   transition: transform 0.25s ease, box-shadow 0.25s ease;
}
.preco{
  display: flex;
  justify-content: center;
  align-items: center;
}
.carrinho{
  padding: 20px;
  border-radius: 50px;
  background:#4b2e2b;
  color: #fff;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
  display: flex;
  align-items: center;
  width:70px;
}
.carrinho img{
  z-index: 100000;
}
