ion-content {
  --background: url("../../assets/icon/fundo1.png") no-repeat center center /
    cover;
}

/* Contêiner principal centralizado */
.home-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 40px 20px;
}

.logo-container {
  flex: 1;
  display: flex;
  flex-direction: column; /* empilha verticalmente */
  justify-content: center;
  align-items: center;
  gap: 0; /* remove qualquer espaçamento do flex */
  margin: 0;
  padding: 0;
}

.gato {
  width: 60%;
  max-width: 250px;
  filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.4));
  margin: 0;
  padding: 0;
  display: block;
  line-height: 0; /* remove espaços invisíveis entre elementos inline */
}

.logo {
  width: 100%;
  max-width: 250px;
  filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.4));
  margin: 0;
  padding: 0;
  display: block;
  line-height: 0; /* remove espaços invisíveis entre elementos inline */
}

.gato + .logo {
  margin-top: -100px;
}

/* Botão estilizado */
.menu-button {
  --background: #3c230d; /* marrom mais café */
  color: #fff;
  width: 243;
  height: 68;
  top: 731px;
  left: 98px;
  border-radius: 50px;
  font-weight: 600;
  letter-spacing: 2px;
  border-radius: 25px;
  margin-bottom: 60px;
  max-width: 220px;

}
