<ion-content [fullscreen]="true">
  <div class="home-container">

    <!-- LOGOS -->
    <div class="logo-container">
      <img src="../../assets/icon/gato.png" alt="Yuni Coffee Gato" class="gato-topo" />
      <img src="../../assets/icon/logo.png" alt="Yuni Coffee Logo" class="logo" />
    </div>

    <!-- FRASE -->
    <div class="frase">
      Seu pedido esta sendo realizado com sucesso, <strong>{{ comanda | nomeCliente }}</strong>
    </div>

    <!-- GATO RODAPÉ -->
    <img src="../../../assets/icon/gatofinal.PNG" alt="Gato Yuni Coffee" class="gato-rodape" />

  </div>
</ion-content>

