<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>cafeespecifico</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>
</ion-content>
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="play-circle"></ion-icon>
      
    </ion-tab-button>
    <ion-tab-button tab="cart-outline">
      <ion-icon name="cart-outline"></ion-icon>
     
    </ion-tab-button>
    <ion-tab-button tab="library">
      <ion-icon name="library"></ion-icon>
