<ion-content [fullscreen]="true">
  <div class="home-container">

    <!-- LOGOS -->
    <div class="logo-container">
      <img
        src="../../assets/icon/gato.png"
        alt="Yuni Coffee Gato"
        class="gato"

      />
      <img
        src="../../assets/icon/logo.png"
        alt="Yuni Coffee Logo"
        class="logo"
      />
    </div>

    <!-- BOTÃO -->
    <ion-button expand="block" shape="round" class="menu-button" (click)="irParaCafeEspecifico()">
      MENU
    </ion-button>
  </div>
</ion-content>

