<ion-header>
  <ion-toolbar>
    <ion-title>Bebidas Sem Álcool 🍹</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let drink of drinks">
        <!-- 🔹 troquei selecionarDrink(drink) por abrirDetalhe(drink) -->
        <ion-card (click)="abrirDetalhe(drink)">
          <img [src]="drink.strDrinkThumb" [alt]="drink.strDrink" />
          <ion-card-header>
            <ion-card-title>{{ drink.strDrink }}</ion-card-title>
            <p>R$ {{ drink.preco }}</p>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
